/*录入老师样式开始*/
.teacherAdd .hd{background: #e0e0e0;height:50px;line-height: 50px;border-bottom:1px solid #cfcfcf}
.teacherAdd .hd h2{font-size: 18px;font-weight: normal;padding-left:25px;}
.teacherAdd .content{border-top: 1px solid #fff;}
.teacherAdd .content .cInput{margin-right:10px;}
.teacherAdd .content ul.pd{margin:60px 100px;line-height: 20px;}
.teacherAdd .content ul.pd li{padding-bottom: 20px;font-size: 14px;line-height: 30px;}
.teacherAdd .content ul.pd li select{margin-right:10px;margin-top: 8px;}
.teacherAdd .content ul.pd li span.t{width: 120px;text-align: right;margin-right:10px;}
.teacherAdd .content ul.pd li a:hover{color: #f90}
.teacherAdd .content ul.pd li .subjectli{width: 585px;}
.teacherAdd .content ul.seculs li span.t{width: 80px;}
.teacherAdd .content ul.pd .greyBg{padding:10px 20px;}
.teacherAdd .content .sex{vertical-align: middle;margin:10px 5px 0 5px; }
.teacherAdd .subm{margin-left:120px;}
/*录入老师样式结束*/
/*学科下拉菜单样式开始*/
.teacherAdd .content .formInputTeacher .slideUlHover .comBlueBtn{border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.teacherAdd .content .formInputTeacher .subjectli li{float: left;margin-right:5px;padding-bottom: 0px;}
.teacherAdd .content .formInputTeacher .subjectli li a{display: block;font-size: 14px;padding:0 10px 0 20px;background: url(../../images/common/ico_checkbox.gif) no-repeat left;}
.teacherAdd .content .formInputTeacher .subjectli li a.active{background: url(../../images/common/ico_checkbox_active.gif) no-repeat left;color: #333}
.teacherAdd .content .formInputTeacher .subjectli li a:hover{color: #333;cursor: default;}
/*学科下拉菜单样式结束*/
/*创建成功样式开始*/
.teacherAdd .creatSuccess{padding:100px 0px;text-align: center;}
.teacherAdd .creatSuccess p{font-size: 18px;padding-bottom:30px;}
.teacherAdd .creatSuccess a{margin-right:10px;}
.teacherAdd .creatSuccess.textAlign{text-align: left;padding-left:30px;padding-top:60px;line-height: 35px;}
/*创建成功样式结束*/

/*录入成功样式开始*/
.teacherAddSuccess .hd {
    height: 60px;
    line-height: 60px;
    margin-left: 300px;
    margin-top: 100px;
    border:0;
    background-color: #F8F8F8;
}
.teacherAddSuccess .content{border:none;}
.teacherAddSuccess .hd h2{background:url(../../images/common/success.png) no-repeat  25% center #e6f3f8;width:180px;border:1px solid #C9E2F1;font-size: 18px;font-weight: normal;padding-left:120px;}
.teacherAddSuccess .creatSuccess.textAlign{padding-left: 250px;} 
/*录入成功样式结束*/