<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<title>{$title}</title>
<link rel="shortcut icon" href=" /favicon.ico" />
<link rel="stylesheet" type="text/css" href="/{$static_url}/{$static_version}/css/sign/style.css" />
<!-- 定义全局变量开始 -->
{include file="{$site_url}/include/var.htm"}
<!-- 定义全局变量结束 -->
</head>
<body>
<!-- 头部开始 -->
{include file="{$site_url}/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap layout">
    <!-- 右侧开始 -->
    <div class="mainContent comBg fr" id="mainContent">
        <div class="sign" id="moduleId" pagename="sign">
			<form id="signForm"/>
            <div class="topTitle">
                 <div class="search selectChoose">
                    <div>
                        <ul>
                            <li><span>
                            <select name="syear" class="chooseYear">
								{foreach $optionSYear v }
								<option {if $v eq $syear} selected="selected"{/if} value="{$v}">{$v}</option>
								{/foreach}
							</select>
                            <select name="smonth" class="chooseMonth">
								{{foreach $optionSMonth v }}
								<option {{if $v eq $smonth}} selected="selected" {{/if}} value="{{$v}}">{{$v}}</option>
								{{/foreach}}
							</select>
                            <select name="sday" class="chooseDay">
								<option {{if $v eq '--'}} selected="selected"{{/if}} value="--">--</option>
								{{foreach $optionSDay v }}
								<option {{if $v eq $sday}} selected="selected"{{/if}} value="{{$v}}">{{$v}}</option>
								{{/foreach}}
							</select>
                        </span></li>
                            <li class="tips">至</li>
                            <li><span>
                            <select name="eyear" class="chooseYear">
								{{foreach $optionSYear v }}
								<option {{if $v eq $eyear}} selected="selected"{{/if}} value="{{$v}}">{{$v}}</option>
								{{/foreach}}
							</select>
                            <select name="emonth" class="chooseMonth">
								{{foreach $optionSMonth v }}
								<option {{if $v eq $emonth}} selected="selected"{{/if}} value="{{$v}}">{{$v}}</option>
								{{/foreach}}
							</select>
                            <select name="eday"class="chooseDay">
								<option {{if $v eq '--'}} selected="selected"{{/if}} value="--">--</option>
								{{foreach $optionSDay v }}
								<option {{if $v eq $eday}} selected="selected"{{/if}} value="{{$v}}">{{$v}}</option>
								{{/foreach}}
							</select>
                        </span></li>

                        </ul>
                        
                       
                      
                        <span class="signType">
                            <label>考勤</label>
                            <select name="issign">
								<option {{if $issign eq 2}} selected="selected"{{/if}} value="2">全部</option>
								<option {{if $issign eq 0}} selected="selected"{{/if}} value="0">缺勤</option>
								<option {{if $issign eq 1}} selected="selected"{{/if}} value="1">出勤</option>
							</select>
                        </span>
                    </div>
                    <div class="queryCondition">
                        <span>
						 <select name="classType">
							 <option {{if $classType eq classCode}} selected="selected"{{/if}} value="classCode">班级编码</option>
							 <option {{if $classType eq className}} selected="selected"{{/if}} value="className">班级名称</option>
						 </select>
                             <input type="text" name="classValue" value="{{$classValue}}"/>
                        </span>
                        <span>
                             <select name="studentType">
								 <option {{if $studentType eq studentName}} selected="selected"{{/if}} value="studentName">学员姓名</option>
								 <option {{if $studentType eq studentId}} selected="selected"{{/if}} value="studentId">学员学号</option>
							 </select>
								 <input type="text" name="studentValue" value="{{$studentValue}}"/>
                        </span> 
                        <span>
                           <input type="submit" value="查询" class="submits yh comBlueBtn"> 
						   <a type="submit" href="{{$downloadUrl}}" class="submits yh comBlueBtn import">导出到excel</a>
                        </span>
                       
                    </div>
                </div>
            </div>
			</form>

            <div class="conrtent">
                <div class="line"></div>
                <div class="comTable">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <th>学员学号</th>
                            <th>姓名</th>
                            <th class="w100">班级编码</th>
                            <th  class="w170">班级名称</th>
                            <th>点名日期</th>
                            <th>点名时间</th>
                            <th>考勤</th>
                            <th>成绩</th>
                            <th>任课</th>
                            <th>代课</th>
                            <th>家长</th>  
                            <th class="w100">联系方式</th>  
                        </tr>
						<tbody id="signtable">
		{{foreach $info value}}
		<tr siid="{{$value->siid}}" lid="{{$value->lesson_id}}" cid="{{$value->cid}}">
			<td>{{$value->school}}</td>
			<td>{{$value->truthName}}</td>
			<td class="w100">{{$value->classCode}}</td>
			<td class="w170">{{$value->className}}</td>
			<td>{{$value->subDate}}</td>
			<td>{{$value->subTime}}</td>
			<td>{{if $value->issign eq '0'}}<font class="red">{{/if}}{{$value->signInfo}}</td>
			<td>{{$value->scoreInfo}}</td>
			<td>{{$value->teacher[0]}}{{if $value->teacher[1] neq ''}}</br>{{$value->teacher[1]}}{{/if}}</td>
			<td>{{$value->replaceInfo}}</td>
			<td>{{$value->refInfo}}</td>
			<td class="w100">{{$value->parentTel1}}</td>
		</tr>
		{{/foreach}}
                                              
                        </tbody>
                    </table>
                </div>
                <p class="info">（本查询信息不包含漏点名班级）</p>
                <!-- 分页开始 -->
                <div class="page cf">
                    <div class="pageContent">
                    </div>
                </div>
                <!-- 分页结束 -->
            </div>
        </div>
    </div>
    <!-- 右侧结束 -->
    <!-- 左侧导航开始 -->
    {include file="{$site_url}/include/left_menu.htm"}
    <!-- 左侧导航结束 -->
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="{$site_url}/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="{$site_url}/include/js.htm"}
<!--js引入结束-->
</body>
</html>
