.loading_1{background:url(../../images/common/loading_1.gif) no-repeat right;}
.loading_2{background:url(../../images/common/loading_2.gif) no-repeat right;}
.loading_3{background:url(../../images/common/loading_3.gif) no-repeat right;width:50px;height:40px;}
