
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<title>上传学员信息表</title>
<link rel="shortcut icon" href=" /favicon.ico" />
<link rel="stylesheet" type="text/css" href="/{$static_url}/{$static_version}/css/uploadOrgClassInfo/style.css" />
<!-- 定义全局变量开始 -->
{include file="{$site_url}/include/var.htm"}
<!-- 定义全局变量结束 -->
</head>
<body>
<!-- 头部开始 -->
{include file="{$site_url}/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap layout">
    <!-- 右侧开始 -->
    <div class="mainContent comBg fr" id="mainContent">
		<div class="uploadOrgClassInfo" id="moduleId" check="check" classId="{$classId}" filemd5="{$fileMd5}" pagename="uploadOrgClassInfo">
    		<div class="hd">
				<h2>上传学员信息表</h2>
			</div>
			<div class="content">
				<!-- 上传第二步开始 -->
				<div class="step2">
					<!-- 学员信息条数开始 -->
					<div class="studentInfos">
						<div class="hd">
							<span class="fr grey">上传文件：学员信息表</span>
							学员信息条数
						</div>
						<div class="bd">
							总数：<span id="total"></span>
							<span class="s">正常：<em id="normal"></em></span>
							有问题：<em class="red" id="errNum"></em>
						</div>
					</div>
					<!-- 学员信息条数结束 -->
					<!-- 有问题资源开始 -->
					<div class="problems">
						<div class="hd">
							<span class="fl">
								以下学员信息可能存在问题
							</span>
							<a href="{$url.back}" class="comBlueBtn">返回上一步,重新上传文件</a>
						</div>
						<div class="comTable wrongAreaList">
							
						</div>
						<!-- 分页开始 -->
						<div class="page cf">
							<div class="pageContent">
								
							</div>
						</div>
						<!-- 分页结束 -->
					</div>
					<!-- 有问题资源结束 -->
					<!-- 提交区域开始 -->
					<div class="entryBox">
						<a href="javascript:void(0)" class="comBlueBtn grey">确定</a>
						<a href="{$url.back}" class="comWhiteBtn">上一步</a>
					</div>
					<!-- 提交区域结束 -->
				</div>
				<!-- 上传第二部结束 -->
			</div>
		</div>
    </div>
    <!-- 右侧结束 -->
    <!-- 左侧导航开始 -->
    {include file="{$site_url}/include/left_menu.htm"}
    <!-- 左侧导航结束 -->
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="{$site_url}/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="{$site_url}/include/js.htm"}
<!--js引入结束-->
</body>
</html>
